# Reboot - SQL Advanced

Tonight we will work with the `blog.sqlite` database is available at this URL:  
`https://wagon-public-datasets.s3.amazonaws.com/sql_databases/blog.sqlite`

In [5]:
ls

README.md    data/        recap.ipynb

Let's have a look at our directory structure

In [6]:
!tree

.
├── README.md
├── data
│   └── blog.sqlite
└── recap.ipynb

2 directories, 3 files

## 1. Schema ERD

❓ Open the `data/blog.sqlite` in DBeaver, explore the schema and draw it on [kitt.lewagon.com/db](https://kitt.lewagon.com/db).

_TODO: Double click this cell and **paste** a screenshot of the schema for future reference_.

---
## 2. Most liked posts

Complete the code to get **the 3 most liked posts**:

In [8]:
import sqlite3

conn = sqlite3.connect("data/blog.sqlite")
c = conn.cursor()

# TODO: write the query
query = """
    SELECT
        p.title,
        COUNT(*) AS like_count
    FROM posts p
    JOIN likes l ON l.post_id = p.id
    GROUP BY p.id
    ORDER BY like_count DESC
    LIMIT 3
"""

# TODO: Execute the query
c.execute(query)

# TODO: Fetch and print the results
c.fetchall()

[('Half imagine another.', 84),
 ('Side foot leader popular.', 82),
 ('Area paper whatever mean.', 81)]

---

### Pretty Print using _pandas_

The readbility of our `print()` statements is not so good.

Next week, we will introduce [pandas](https://pandas.pydata.org/) which will vastly improve the UX of our data exploration in Notebooks.

Execute the following cell to load `pandas` library:

In [9]:
import pandas as pd

Then try the previous `query` again, delegating the job of fetching results + displaying them to the `read_sql_query` function of `pandas`:

In [10]:
pd.read_sql_query(query, conn)

                       title  like_count
0      Half imagine another.          84
1  Side foot leader popular.          82
2  Area paper whatever mean.          81

---
## 3. Find the three users who 'liked' the most

In [13]:
query = """
    SELECT 
        u.first_name,
        u.last_name,
        COUNT(l.id) AS like_count
    FROM likes l
    JOIN users u ON u.id = l.user_id
    GROUP BY u.id
    ORDER BY like_count DESC
    LIMIT 3;
"""

pd.read_sql_query(query, conn)

  first_name last_name  like_count
0    Michael     Allen         236
1      Donna   Ramirez         233
2     Hayley  Williams         227

---
## 4. Find the most liked author

In [14]:
query = """
    SELECT
        u.first_name,
        u.last_name,
        COUNT(l.id) AS likes
    FROM posts p 
    JOIN users u ON u.id = p.user_id
    JOIN likes l ON l.post_id = p.id
    GROUP BY u.id 
    ORDER BY likes DESC
    LIMIT 1
"""

pd.read_sql_query(query, conn)

  first_name last_name  likes
0     Teresa     Moore    647

---
## 5. Who are the authors of the 3 most liked posts?

In [15]:
query = """
    SELECT
        u.first_name,
        u.last_name,
        COUNT(l.id) as post_like_count
    FROM posts p 
    JOIN likes l ON l.post_id = p.id
    JOIN users u ON u.id  = p.user_id
    GROUP BY p.id
    ORDER BY post_like_count DESC
    LIMIT 3

"""

pd.read_sql_query(query, conn)

  first_name last_name  post_like_count
0    Melissa     Henry               84
1    Cynthia   Raymond               82
2  Alexander      Cook               81

---
## 6. How many people liked at least one post?

In [16]:
query = """
    SELECT COUNT(DISTINCT(l.user_id)) FROM likes l 

"""

pd.read_sql_query(query, conn)

   COUNT(DISTINCT(l.user_id))
0                          49

---
## 7. Compute the cumulative number of likes per day

In [17]:
query = """
    SELECT 
        l.created_at,
        COUNT(*) daily_like_count,
        SUM(COUNT(*)) OVER (
        ORDER BY l.created_at
    ) cumulative_daily_like_count
    FROM likes l
    GROUP BY l.created_at

"""

pd.read_sql_query(query, conn)

     created_at  daily_like_count  cumulative_daily_like_count
0    2019-01-01                24                           24
1    2019-01-02                34                           58
2    2019-01-03                40                           98
3    2019-01-04                36                          134
4    2019-01-05                27                          161
..          ...               ...                          ...
331  2019-12-24                35                         9882
332  2019-12-25                33                         9915
333  2019-12-26                32                         9947
334  2019-12-27                23                         9970
335  2019-12-28                30                        10000

[336 rows x 3 columns]

---
## 8. (Optional) Who's the biggest fan/ fans of each author?

The biggest fan/ fans of an author is defined as the user or users who liked the author's posts the most. i.e. if there is a tie between fans that both liked an author 20 times, both fans should be returned alongside their like count and the author in question.
<br><br>
<details>
    <summary>💡 Click for Hint</summary>
    You might need to use <code>WITH</code>
</details>

In [ ]:
query = """

"""

pd.read_sql_query(query, conn)