# Reboot - SQL Advanced

Tonight we will work with the `blog.sqlite` database is available at this URL:  
`https://wagon-public-datasets.s3.amazonaws.com/sql_databases/blog.sqlite`

In [3]:
ls

README.md        data/            recap-ans.ipynb  recap.ipynb

Let's have a look at our directory structure

In [4]:
!tree

.
├── README.md
├── data
│   └── blog.sqlite
├── recap-ans.ipynb
└── recap.ipynb

2 directories, 4 files

## 1. Schema ERD

❓ Open the `data/blog.sqlite` in DBeaver, explore the schema and draw it on [kitt.lewagon.com/db](https://kitt.lewagon.com/db).

_TODO: Double click this cell and **paste** a screenshot of the schema for future reference_.

---
## 2. Most liked posts

Complete the code to get **the 3 most liked posts**:

In [6]:
import sqlite3

conn = sqlite3.connect("data/blog.sqlite")
c = conn.cursor()

# TODO: write the query
query = """
    SELECT COUNT(*) as likes_count,p.title
    FROM posts p
    JOIN likes l on p.id =l.post_id 
    GROUP BY p.id
    ORDER BY likes_count DESC
    LIMIT 3
"""

# TODO: Execute the query
c.execute(query)

# TODO: Fetch and print the results
c.fetchall()

[(84, 'Half imagine another.'),
 (82, 'Side foot leader popular.'),
 (81, 'Area paper whatever mean.')]

---

### Pretty Print using _pandas_

The readbility of our `print()` statements is not so good.

Next week, we will introduce [pandas](https://pandas.pydata.org/) which will vastly improve the UX of our data exploration in Notebooks.

Execute the following cell to load `pandas` library:

In [7]:
import pandas as pd

Then try the previous `query` again, delegating the job of fetching results + displaying them to the `read_sql_query` function of `pandas`:

In [8]:
pd.read_sql_query(query, conn)

   likes_count                      title
0           84      Half imagine another.
1           82  Side foot leader popular.
2           81  Area paper whatever mean.

---
## 3. Find the three users who 'liked' the most

In [9]:
query = """
    SELECT 
        u.id,
        u.last_name,
        COUNT(l.id)
    FROM likes l
    JOIN users u ON l.user_id = u.id
    GROUP BY 1, 2
    ORDER BY 3 DESC
    LIMIT 3
    
"""

pd.read_sql_query(query, conn)

   id last_name  COUNT(l.id)
0  43     Allen          236
1  12   Ramirez          233
2  15     Hurst          227

---
## 4. Find the most liked author

In [10]:
query = """
    SELECT 
        users.first_name,
        users.last_name,
        COUNT(likes.id) AS total_likes
    FROM users
    JOIN posts ON posts.user_id = users.id
    JOIN likes ON likes.post_id = posts.id 
    GROUP BY users.id 
    ORDER BY total_likes DESC
    LIMIT 1
"""

pd.read_sql_query(query, conn)

  first_name last_name  total_likes
0     Teresa     Moore          647

---
## 5. Who are the authors of the 3 most liked posts?

In [ ]:
query = """
    SELECT
        users.first_name,
        users.last_name,
        COUNT(l.id) AS total_likes
        FROM posts
        JOIN users ON posts.user_id = users.id
        JOIN likes l ON posts.id = l.post_id
        GROUP BY posts.id
        ORDER BY total_likes DESC
        LIMIT 3
"""

pd.read_sql_query(query, conn)

---
## 6. How many people liked at least one post?

In [ ]:
# Baptiste Way
query = """
    WITH user_like_counts AS (
        SELECT 
            *, 
        COUNT(l.id)
    FROM likes l
    GROUP BY l.user_id 
    HAVING COUNT(l.id) > 0
)
SELECT COUNT(*) FROM user_like_counts
"""

# Voi's way
query = """
    SELECT COUNT(DISTINCT(l.user_id)) FROM likes l;
"""
pd.read_sql_query(query, conn)

---
## 7. Compute the cumulative number of likes per day

In [ ]:
query = """
"""

pd.read_sql_query(query, conn)

---
## 8. (Optional) Who's the biggest fan/ fans of each author?

The biggest fan/ fans of an author is defined as the user or users who liked the author's posts the most. i.e. if there is a tie between fans that both liked an author 20 times, both fans should be returned alongside their like count and the author in question.
<br><br>
<details>
    <summary>💡 Click for Hint</summary>
    You might need to use <code>WITH</code>
</details>

In [ ]:
query = """

"""

pd.read_sql_query(query, conn)